<div class="uk-container">
  <h2>Explore</h2>

  <div class="explore--gallery">

    <% @posts.each do |post| %>
      <%= link_to image_tag(post.image, class: "explore--gallery-image"), post, :class => "explore--gallery-item" if post.image.attached? %>
    <% end %>

  </div>
</div>
