<div class="feed">
  <div class="feed--content">
    <% @posts.each do |post| %>
      <div class="post">
        <h3><%= post.user.email %></h3>
        <img src="<%= url_for(post.image) %>" class="feed--image">
        <p><%= post.description %></p>
      </div>
    <% end %>
  </div>
</div>
