<div class="feed">
  <div class="feed--content">
    <% @posts.each do |post| %>
      <div class="post">
      <%= link_to image_tag(post.image, class: "feed--image"), post, :class => "explore--gallery-item" if post.image.attached? %>
        <p class="post--description">
          <span><%= link_to post.user.username, post.user %></span>
          <%= post.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
