<div class="feed">
  <div class="feed--content">
    <% @posts.each do |post| %>
      <div class="post">
        <img src="<%= url_for(post.image) %>" class="feed--image">
        <p class="post--description">
          <span><%= post.user.username %></span>
          <%= post.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
