// Place all the styles related to the Feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed {
  &--content {
    max-width: 500px;
  }
  post &--image {
    width: 100%;
  }

  .post {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    &--description {
      margin-top: 0;
      padding: 0 0.5rem;

      span {
        font-weight: bold;
      }
    }
  }
}

.explore {
  &--feed {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
    column-gap: 4px;
  }

  &--gallery {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-auto-rows: 30vw;
    column-gap: 4px;
  }

  &--gallery-item {
    color: #fff;
    cursor: pointer;
  }

  &--gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
