// Place all the styles related to the Feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}