<nav class="app--nav">
  <ul>
    <li>
      <%= link_to 'Feed', '/feed' %>
    </li>
    <li>
      <%= link_to 'Explore', '/explore' %>
    </li>
    <li>
      <%= link_to 'New Post', '/posts/new'%>
    </li>
  </ul>
</nav>