// GLOBAL DIMENSIONS
// ===================================================
$header-height: 2rem;
$nav-height: 3rem;
$content-area-height: calc(#{$header-height} + #{$nav-height});
// ===================================================
// END GLOBAL DIMENSIONS